<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunyitg.cesp.core.imports.logistics.dao.LogisticsContentMapper">
  <resultMap id="BaseResultMap" type="com.yunyitg.cesp.core.imports.logistics.entity.LogisticsContent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logistics_head_id" jdbcType="INTEGER" property="logisticsHeadId" />
    <result column="ent_waybill_no" jdbcType="VARCHAR" property="entWaybillNo" />
    <result column="cus_elist_no" jdbcType="VARCHAR" property="cusElistNo" />
    <result column="ciq_inbound_no" jdbcType="VARCHAR" property="ciqInboundNo" />
    <result column="tray_no" jdbcType="VARCHAR" property="trayNo" />
    <result column="gross_wt" jdbcType="DECIMAL" property="grossWt" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
</mapper>