<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunyitg.cesp.core.exports.list.dao.ExEListOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yunyitg.cesp.core.exports.list.entity.ExEListOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="e_list_detail_info_id" property="eListDetailInfoId" jdbcType="INTEGER" />
    <result column="e_b_p_ent_id" property="eBPEntId" jdbcType="INTEGER" />
    <result column="ent_order_no" property="entOrderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, e_list_detail_info_id, e_b_p_ent_id, ent_order_no
  </sql>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ex_e_list_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ex_e_list_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunyitg.cesp.core.exports.list.entity.ExEListOrder" >
    insert into ex_e_list_order (id, e_list_detail_info_id, e_b_p_ent_id, 
      ent_order_no)
    values (#{id,jdbcType=INTEGER}, #{eListDetailInfoId,jdbcType=INTEGER}, #{eBPEntId,jdbcType=INTEGER}, 
      #{entOrderNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyitg.cesp.core.exports.list.entity.ExEListOrder" >
    insert into ex_e_list_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eListDetailInfoId != null" >
        e_list_detail_info_id,
      </if>
      <if test="eBPEntId != null" >
        e_b_p_ent_id,
      </if>
      <if test="entOrderNo != null" >
        ent_order_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eListDetailInfoId != null" >
        #{eListDetailInfoId,jdbcType=INTEGER},
      </if>
      <if test="eBPEntId != null" >
        #{eBPEntId,jdbcType=INTEGER},
      </if>
      <if test="entOrderNo != null" >
        #{entOrderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyitg.cesp.core.exports.list.entity.ExEListOrder" >
    update ex_e_list_order
    <set >
      <if test="eListDetailInfoId != null" >
        e_list_detail_info_id = #{eListDetailInfoId,jdbcType=INTEGER},
      </if>
      <if test="eBPEntId != null" >
        e_b_p_ent_id = #{eBPEntId,jdbcType=INTEGER},
      </if>
      <if test="entOrderNo != null" >
        ent_order_no = #{entOrderNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyitg.cesp.core.exports.list.entity.ExEListOrder" >
    update ex_e_list_order
    set e_list_detail_info_id = #{eListDetailInfoId,jdbcType=INTEGER},
      e_b_p_ent_id = #{eBPEntId,jdbcType=INTEGER},
      ent_order_no = #{entOrderNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
</mapper>